@charset "ISO-8859-1";
.botones{
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

button:hover{
	background-color:gray;
}



.conte-header{
    background-image: url(../imagenes/banner.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.titulo{
    color: white;
    padding: 10px;

}


li{
    display: inline;
    margin-right: 20px;
}



nav{
    margin-top: 60px;
}